streamlit==1.33.0
ultralytics==8.1.25
opencv-python==4.8.0.76
numpy==1.24.3
pandas==1.5.3
python-dotenv==1.0.1

tensorflow-cpu==2.14.0
keras==2.14.0
tensorboard==2.14.0
tensorflow-estimator==2.14.0

wrapt==1.14.1
typing-extensions==4.5.0
rich==13.7.1

torch==1.13.1+cpu
torchvision==0.14.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
